/* Fuente de Google */
@import url(https://fonts.googleapis.com/css?family=Oswald:400,300,700);




  .item-a {
    grid-area: header;
    width: auto;
    margin: 0;
    padding: 0;
    background-color: deepskyblue;
  
  

  }
  .item-b {
    grid-area: main;
    width:auto;
    padding: 1.5%;
    background-color:bisque;
    font-family: 'Bree Serif', cursive;
  }
  .item-c {
    grid-area: sidebar;
    width:auto;
    margin :0%;
    padding: 0%;
    background-color:bisque;
    font-family: 'Unbounded', cursive;
}
  .item-d {
    grid-area: footer;
    background-color: bisque;
    width:auto;
    padding: 5%;
  }
  .item-e {
    grid-area:auto;
    background-color: bisque;
    width:0;
    padding: 0%;
    visibility: hidden;
  }
  
 
  
  .container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto;
    grid-template-areas: 
      "header header header header"
      "main main . sidebar"
      "footer footer footer footer";
  }

  .ImagenLogoEncabezado {
    display: block;
    width: 272px;
    height: 190px;
    margin: 0px;
    padding: 0px;
    float: left;
    border-radius: 30px;
  }

  
.item-a h1{
    text-align: right;
    width:60%;
    display:inline-block;
    font-weight: bold; 
    font: 10 35px oswald, sans-serif;
    color:white;

}

.item-a h2{
    text-align: right;
    width:58%;
    display:inline-block;
    font-weight: bold; 
    font: 5 17px oswald, sans-serif;
    color:white;
}



ul {
  padding-left: 2rem;
  list-style-type: none;
}

ul li {
  padding-left: 2rem;
  background-image: url('../imagenes/Estrella.png');
  background-position: 0 0;
  background-size: 1rem 1rem;
  background-repeat: no-repeat;
}

p{
  font-size:large;
}

.Titulo{
  text-decoration:underline;
}

a {
  background-color: powderblue;
  transition: background-color .5s;
}

a:hover {
  background-color: rgb(173, 23, 171);
}
